<!-- ---------------------------------------------- -->
<!-- BEGIN HEADER BLOCK                             -->
<!-- you should always keep this block              -->
<!-- ---------------------------------------------- -->

<tr id="header">
	<td align="center" valign="top" class="email--header" style="padding: 29px 12px 35px 12px;">
	
		<!-- BEGIN HEADER CONTENT -->
		
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		
			<!-- BEGIN Logo Row -->
			
			<tr>
				<td align="left" valign="top">
				
					<!--logo-->
					<table align="left" height="83" style="height:83px;">
						<tr>
							<td>
								<a href="$link_visit_website" target="_blank">
									<img id="logo" src="$imagePath/it-email-logo.png" alt="Logo INspired" width="175" border="0" style="width: 175px; display: inline; padding: 0; text-decoration: none;">
								</a>
							</td>
						</tr>
					</table>
					
					<!--short contact-->
					<table class="email--header--contact" align="left" height="83" width="250" style="height:83px; width:250px;">
						<tr>
							<td>
								<table align="center">
									<tr>
										<td style="font-size: 12px; color: #353132; line-height: 20px; font-family: $font_family;">
											<nobr>
												<img src="$imagePath/email-icon-header-shipping.png" alt="X" width="15" height="15" border="0" style="height: 15px; width: 15px; display: inline; padding: 0;">
												Free Shipping
											</nobr>
										</td>
									</tr>
									<tr>
										<td style="font-size: 12px; color: #353132; line-height: 20px; font-family: $font_family;">
											<nobr>
												<img src="$imagePath/email-icon-header-calendar.png" alt="X" width="15" height="15" border="0" style="height: 15px; width: 15px; display: inline; padding: 0;">
												100 Days Return Policy
											</nobr>
										</td>
									</tr>
									<tr>
										<td style="font-size: 12px; color: #353132; line-height: 20px; font-family: $font_family;">
											<nobr>
												<img src="$imagePath/email-icon-header-phone.png" alt="X width="15" height="15" border="0" style="height: 15px; width: 15px; display: inline; padding: 0;">												$phone
											</nobr>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					
					<!--certificates-->
					<table class="email--header--certificates" align="center" height="83" style="height:83px">
						<tr>
							<td>
								<table align="center" height="83" style="height:83px">
									<tr>
										<td>
											<img src="$imagePath/email-certificates.png" alt="Certificates" width="116" height="44" border="0" class="email--header--certificates" style="height: 44px; width: 116px;display: inline; padding: 0;">
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			
			<!-- END Logo Row -->
			
		</table>
		
		<!-- // END HEADER CONTENT -->
		
	</td>
</tr>

<!-- // END HEADER BLOCK -->