kind: Pod
apiVersion: v1
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  volumes:
${KeepDatabaseYml}  - name: db-data
${KeepDatabaseYml}    hostPath:
${KeepDatabaseYml}      path: "${MOUNT_PREFIX}${PostgresDataDirAbs}"
  containers:
  - name: postgres
    image: ${POSTGRES_IMAGE}
    args: [ ${PostgresArgsYml} ]
    imagePullPolicy: ${IMAGE_PULL_POLICY_POSTGRES}
    env:
    - name: POSTGRES_DB
      value: ${PGDATABASE}
    - name: POSTGRES_USER
      value: ${PGUSER}
    - name: POSTGRES_PASSWORD
      value: ${PGPASSWORD}
    volumeMounts:
${KeepDatabaseYml}    - name: db-data
${KeepDatabaseYml}      mountPath: ${PostgresMountPath}
---
kind: Service
apiVersion: v1
metadata:
  name: postgres-service
spec:
  selector:
    app: postgres
  ports:
    - port: ${PORT_DB_SERVICE}
      targetPort: ${PORT_DB}
      name: postgres
  type: LoadBalancer
