#set($do = '$$')
DO $do
DECLARE
#set($vars_shop_supplier = '
-- internal
shop_int int8 = 1;
supplier_int int8 = 1;

-- parent shops


-- actual shops
shop_intronics_b2c int8 = 10010;
shop_intronics_b2b int8 = 10020;

-- all non-abstract shops
shops_all int8[] = ARRAY[shop_intronics_b2c, shop_intronics_b2b];

-- all abstract shops
shops_parent_all int8[] = ARRAY[]::int8[];

-- suppliers
supplier_wh_texas int8 = 20010;
supplier_wh_arizona int8 = 20020;
supplier_wh_losangeles int8 = 20030;
supplier_wh_detroit int8 = 20040;
supplier_retailer_losangeles int8 = 20050;

suppliers_intronics_b2c int8[] = ARRAY[supplier_retailer_losangeles, supplier_wh_detroit, supplier_wh_texas];
suppliers_intronics_b2b int8[] = ARRAY[supplier_wh_losangeles, supplier_wh_texas, supplier_wh_arizona];

-- all suppliers
suppliers_all int8[] = ARRAY[supplier_wh_texas, supplier_wh_arizona, supplier_wh_losangeles, supplier_wh_detroit, supplier_retailer_losangeles];

-- payment provider
--pp_paypal int8 = 100;

')

--see CountryDefDO for the ids
#set($vars_country_codes = '
-- country codes
cc_de int = 2;
cc_fr int = 7;
cc_us int = 29; 

')

#set($vars_config_types = '

-- erp export
config_erp varchar = ''erpService'';
av_erp_endpoint varchar = ''erpEndpointUrl'';
av_erp_username varchar = ''erpUsername'';
av_erp_password varchar = ''erpPassword'';

')

#set($vars_execution_beans = '
eb_shop_transmitter int = 10000;
eb_supplier_transmitter int = 20000;
')

#set($vars_decision_beans = '
-- decision beans
db_mail int = 1000;
db_invoicing int = 10001;
db_shop_transmission int = 40000;
db_supplier_transmission int = 41000;
db_send_email int = 50000;
')

#set($vars_payment_methods = '
-- payment provider
pp_blueprint int8 = 10000;

-- payment methods
pm_no_payment int = 1;
pm_cash_in_advance int = 2;
pm_creditcard int = 3;
pm_cash_on_delivery int = 4;
pm_invoice int = 5;
pm_directdebit int = 7;
pm_paypal int = 10;
pm_fastpay int = 24;
pm_refund int = 40;
pm_total_zero int = 100;
--pm_apple_pay = 10000;

--payment decider bean
db_payment_action int8 = 70;
')

#set($vars_jobs = '
--jobs
job_example int = 1000;
')

#set($vars_carriers ='
-- carrier
carrier_dhl int8 = 11;
--carrier_dpd int8 = 12;
--carrier_ups int8 = 15;
--carrier_hermes int8 = 25;

carriers_all int8[] = ARRAY[carrier_dhl];
')